<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <title>Animal Quiz</title>
      <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link href="../css/normalize.css" rel="stylesheet"> <!--this is a cascading style sheet which enable the DOM to build html elements in tune with modern web page standards-->
      <link href="../css/animalQuiz.css" rel="stylesheet">
   </head>
   <body>
      <div id="header">
         <h1>Animal + Nature Quiz</h1>
      </div>
      <!-- <h2>Lets Go!</h2> -->
      <form id="answer-form">
      <section id="question-container">
         <p id="question"></p>
         <ul id="answers"></ul>
            <!-- questions added by javascript -->
            <!-- answers are added via javascript -->
      </section>
      <button id="submit">Next</button>
      </form>
      <div id="results">
         <p class="results">Your Results: <span id="user-score"></span>/10</p>
      </div>
         <a href="../index.html">Home Page</a> <!--link syntax to exit outside of the folder-->

   <script src="../js/main.js"></script>
   </body>
</html>