<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="about quiz, how to quiz, quiz info, quiz information">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/how-to.css" rel="stylesheet">
  <!--<meta name="description" content="" to put the beginning of sentence of first <p> line for the description--> 
</head>
<body>
  <div class="header">
    <h1>About/How To Quiz</h1>
  </div>
  
<main>
  <hr>
    <p class="how-to"><strong>The animal quiz game is a platform provided to test the user knowledge about animals & enthisize 
    the user's view on animals. Many people around the globe are animal lovers.</strong>
    </p>
  <ol>
    <li>
    <p class="how-to">To take the quiz users need to have some animal knowledge before starting the quiz.
    Please <a href="https://a-z-animals.com/animals/" target="_blank">Click on this link</a> to <em>learn more about any animal</em>. 
    Hopefully enough information is provided for the user to be prepared for the challenging questions.
    </p></li><br>
    <li>
    <p class="how-to">Once user is ready to take the quiz, the user can navigate back to the home page using the link <em>"Back to Home Page"</em> 
    below this page.
    </p></li><br>
    <li>
    <p class="how-to">On the home page there is a <em>"Start Quiz"</em> on the navigation bar on top of the web page.
    The user may click this link to start the quiz.
    </p></li><br>
    <li>
    <p class="how-to">The user may take their time to work through the quiz questions as there are no time limits.
    The aim of this quiz is to give the user more insight of an animal.
    </p></li><br>
    <li>
    <p class="how-to">The user will receive their final score upon completing the quiz.
    </p></li>
  </ol>
    <hr>
    <a href="../index.html">Back to Home Page</a>
</main>
</body>  
</html>